@using DaimlerConfig.Components.Models
@inject DaimlerConfig.Components.Fassade.Fassade Fassade

@using DaimlerConfig.Services
@inject SignalRService SignalRService
@inject DirtyManagerService DirtyManagerService
@implements IDisposable

<div class="container-lg px-3">

    <div class="class-header  justify-content-between align-items-center">
        <MudText Typo="Typo.h5" Style="color: var(--mud-palette-text-primary); font-weight: 600;">
            @Fassade.Language.Tool
        </MudText>

        <div class="d-flex justify-content-end align-items-center gap-2">
            <div class="form-floating" style="min-width:200px;">
                <select class="form-select" id="ToolVersionSelect" value="@selectedVersionId" @onchange="OnVersionChanged">
                    <option value="-1">Aktuelle Version</option>
                    @foreach (var version in ToolVersions.OrderByDescending(v => v.toolVersionID))
                    {
                        <option value="@version.toolVersionID">
                            @version.modifiedBy?.Split(';')[0] - @version.lastModified
                        </option>
                    }
                </select>

           

              
            </div>
            @if (SelectedTool?.toolID == 0)
            {
                <div class="d-flex justify-content-end align-items-center mb-3">

                    <MudButton StartIcon="@Icons.Material.Filled.AddCircle"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   Class="btn btn-primary btn-sm add-station-btn"
                       @onclick="CreateToolAsync">
                        @Fassade.Language.Create
                        </MudButton>
                </div>
                @if (!string.IsNullOrEmpty(ValidationMessage))
                {
                    <div class="text-danger">@ValidationMessage</div>
                }
            }

            @if (SelectedTool?.toolID != 0)
            {
                <div class="d-flex justify-content-end align-items-center mb-3">
                        <MudButton StartIcon="@Icons.Material.Filled.Save"
                                           Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           Class="btn btn-primary btn-sm add-station-btn"
                                                   @onclick="UpdateToolAsync" disabled="@ReadOnly">
                                @Fassade.Language.Save
										
                                </MudButton>
                </div>
                @if (!string.IsNullOrEmpty(ValidationMessage))
                {
                    <div class="text-danger">@ValidationMessage</div>
                }
            }
            @if (SelectedTool?.toolID != 0)
            {
                
                @if (!string.IsNullOrEmpty(ValidationMessage))
                {
                    <div class="text-danger">@ValidationMessage</div>
                }
            }
        </div>
    </div>


    <div class="layout position-relative">
        <div class="toolColoumnLeft">

            <div class="form-floating mb-3">
                <MudTextField T="int?"
              Label="@Fassade.Language.ToolId"
              Value="SelectedTool.toolID"
              ReadOnly="true"
              Variant="Variant.Outlined"
              Margin="Margin.Normal"
              Class="w-100"
              Style="background: white; border-radius: 12px;"
              Adornment="Adornment.End"
              AdornmentIcon="@Icons.Material.Filled.Lock" />

            </div>

            <div class="form-floating mb-3">

              <MudTextField T="string"
              Label="@Fassade.Language.ToolShortname"
              @bind-Value="SelectedTool.toolShortname"
              MaxLength="16"
              ReadOnly="@ReadOnly"
              Variant="Variant.Outlined"
              Margin="Margin.Normal"
              @onclick="LockTool"
              OnBlur="CheckIfDirty"
              Error="@errorMessages.ContainsKey("ToolShortname")"
              ErrorText="@((errorMessages.ContainsKey("ToolShortname")) ? errorMessages["ToolShortname"] : null)"
              Adornment="@(ReadOnly ? Adornment.End : Adornment.None)"
              AdornmentIcon="@(ReadOnly ? Icons.Material.Filled.Lock : null)"/>

                <span class="text-muted small d-block text-end mt-1">
                                    @($"{SelectedTool?.toolShortname?.Length ?? 0}/16")
                </span>
            </div>

            
                        <div class="mb-3">
                <MudTextField T="string"
                              Label="@Fassade.Language.ToolDescription"
                              @bind-Value="SelectedTool.toolDescription"
                              ReadOnly="@ReadOnly"
                              Variant="Variant.Outlined"
                              Margin="Margin.Normal"
                              Lines="4"
                              MaxLength="1000"
                              Style="background: white; border-radius: 12px;"
                              @onclick="LockTool"
                              OnBlur="CheckIfDirty"
                              Class="w-100"
                              Adornment="@(ReadOnly ? Adornment.End : Adornment.None)"
                              AdornmentIcon="@(ReadOnly ? Icons.Material.Filled.Lock : null)" />

                <span class="text-muted small d-block text-end mt-1">
                                @($"{SelectedTool?.toolDescription?.Length ?? 0}/1000")
                </span>
            </div>
        </div>

        <div class="toolColoumnRight ">
            <div class="form-floating mb-3">

                <select class="form-select form-select" id="ToolClass" value="@SelectedTool.toolClassID" @onchange="OnToolClassChanged" disabled="@ReadOnly" @onfocus="LockTool">
                    @foreach (var toolClass in toolClasses.OrderBy(t => t.toolClassName))
                    {
                        <option value="@toolClass.toolClassID">@toolClass.toolClassName</option>
                    }
                </select>

                <label for="ToolClass">Tool Class</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select form-select" id="ToolType" value="@SelectedTool.toolTypeID" @onchange="OnToolTypeChanged" disabled="@ReadOnly" @onfocus="LockTool">
                    @foreach (var toolType in toolTypes.OrderBy(t => t.toolTypeName))
                    {
                        <option value="@toolType.toolTypeID">@toolType.toolTypeName</option>
                    }
                </select>
                <label for="ToolType">Tool Type</label>
            </div>
            <div class="form-floating mb-3">
                <MudTextField T="string"
                                  @bind-Value="SelectedTool.Comment"
                                  Label="@Fassade.Language.Comment"
                                  Variant="Variant.Outlined"
                                  Class="w-100"
                                  Style="background: white; border-radius: 12px; min-height: 100px;"
                                  Margin="Margin.Normal"
                                  Immediate="true"
                                  OnBlur="CheckIfDirty"
                                  @onclick="LockTool"
                                  MaxLength="1000"
                                  Lines="5"
                                  TextArea="true"
                                  ReadOnly="@ReadOnly" 
                                  Adornment="@(ReadOnly ? Adornment.End : Adornment.None)"
                                  AdornmentIcon="@(ReadOnly ? Icons.Material.Filled.Lock : null)"/>

                    <span class="position-absolute end-0 bottom-0 me-2 mb-1 text-muted small">
                                        @($"{SelectedTool?.Comment?.Length ?? 0}/1000")
                    </span>

            </div>
        </div>
    </div>

    <hr />

    <div>
        <h2>@Fassade.Language.Network</h2>

        <div class="layout position-relative">
            <div class="toolColoumnLeft">
    <div class="mb-3">
        <MudTextField T="string"
                      Label="@Fassade.Language.IpAddressDevice"
                      @bind-Value="SelectedTool.ipAddressDevice"
                      ReadOnly="@ReadOnly"
                      Variant="Variant.Outlined"
                      Margin="Margin.Normal"
                      Class="@($"w-100 {(errorMessages.ContainsKey("IP") ? "mud-input-error" : "")}")"
                      @onclick="LockTool"
                      OnBlur="CheckIfDirty" 
                      Adornment="@(ReadOnly ? Adornment.End : Adornment.None)"
                      AdornmentIcon="@(ReadOnly ? Icons.Material.Filled.Lock : null)"/>
        @if (errorMessages.ContainsKey("IP"))
        {
            <div class="mud-input-error-text">@errorMessages["IP"]</div>
        }
    </div>

    <div class="mb-3">
        <MudTextField T="string"
                      Label="@Fassade.Language.PlcName"
                      ReadOnly="@ReadOnly"
                      Variant="Variant.Outlined"
                      Margin="Margin.Normal"
                      Class="w-100"
                      @onclick="LockTool" 
                      Adornment="@(ReadOnly ? Adornment.End : Adornment.None)"
                       AdornmentIcon="@(ReadOnly ? Icons.Material.Filled.Lock : null)"/>
    </div>

    <div class="mb-3">
        <MudTextField T="string"
                      Label="@Fassade.Language.DbNoSend"
                      ReadOnly="@ReadOnly"
                      Variant="Variant.Outlined"
                      Margin="Margin.Normal"
                      Class="w-100"
                      @onclick="LockTool" 
                      Adornment="@(ReadOnly ? Adornment.End : Adornment.None)"
                      AdornmentIcon="@(ReadOnly ? Icons.Material.Filled.Lock : null)"/>
    </div>

    <div class="mb-3">
        <MudTextField T="string"
                      Label="@Fassade.Language.DbNoReceive"
                      ReadOnly="@ReadOnly"
                      Variant="Variant.Outlined"
                      Margin="Margin.Normal"
                      Class="w-100"
                      @onclick="LockTool"
                      Adornment="@(ReadOnly ? Adornment.End : Adornment.None)"
                      AdornmentIcon="@(ReadOnly ? Icons.Material.Filled.Lock : null)"/>
    </div>
</div>

<div class="toolColoumnRight">
    <div class="mb-3">
        <MudTextField T="string"
                      Label="@Fassade.Language.AddressSendDb"
                      ReadOnly="@ReadOnly"
                      Variant="Variant.Outlined"
                      Margin="Margin.Normal"
                      Class="w-100"
                      @onclick="LockTool"
                      Adornment="@(ReadOnly ? Adornment.End : Adornment.None)"
                        AdornmentIcon="@(ReadOnly ? Icons.Material.Filled.Lock : null)"/>
    </div>

    <div class="mb-3">
        <MudTextField T="string"
                      Label="@Fassade.Language.AddressReceiveDb"
                      ReadOnly="@ReadOnly"
                      Variant="Variant.Outlined"
                      Margin="Margin.Normal"
                      Class="w-100"
                      @onclick="LockTool" 
                      Adornment="@(ReadOnly ? Adornment.End : Adornment.None)"
                      AdornmentIcon="@(ReadOnly ? Icons.Material.Filled.Lock : null)"/>
    </div>

    <div class="mb-3">
        <MudTextField T="string"
                      Label="@Fassade.Language.BytePreCheck"
                      ReadOnly="@ReadOnly"
                      Variant="Variant.Outlined"
                      Margin="Margin.Normal"
                      Class="w-100"
                      @onclick="LockTool" 
                      Adornment="@(ReadOnly ? Adornment.End : Adornment.None)"
                       AdornmentIcon="@(ReadOnly ? Icons.Material.Filled.Lock : null)"/>
    </div>
</div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public Tool? SelectedTool { get; set; }

    [Parameter]
    public IEnumerable<ToolVersion> ToolVersions { get; set; } = Enumerable.Empty<ToolVersion>();

    private int selectedVersionId = -1;

    [Parameter]
    public string? CurrentUser { get; set; }

    [Parameter]
    public bool ReadOnly { get; set; }

    private string? ValidationMessage;

    private Tool? OriginalTool { get; set; }

    private Dictionary<string, string> errorMessages = new();
    private bool showErrors = false;

    private IEnumerable<ToolType> toolTypes = Enumerable.Empty<ToolType>();
    private IEnumerable<ToolClass> toolClasses = Enumerable.Empty<ToolClass>();


    protected override async Task OnParametersSetAsync()
    {
        if (SelectedTool != null)
        {
            ResetValidationState();
            OriginalTool = SelectedTool.Clone();
            OriginalTool.toolID = SelectedTool.toolID;
            OriginalTool.stationID = SelectedTool.stationID;

            toolClasses = await Fassade.GetAllToolClasses();

            if (SelectedTool.toolClassID.HasValue)
            {
                toolTypes = await Fassade.FindToolTypes(SelectedTool.toolClassID.Value);
            }

			ToolVersions = await Fassade.GetToolVersions(SelectedTool.toolID.Value);
            selectedVersionId = -1;

            StateHasChanged();
        }
    }



    #region CRUD
    public async Task UpdateToolAsync()
    {
        ResetValidationState();

       // if (!await DirtyManagerService.CheckIfDirty(SelectedTool, OriginalTool))
            //return;
		var dbTool = await Fassade.GetTool(SelectedTool.toolID.Value);
		if (dbTool.Equals(SelectedTool))
		{
			return;
		}

        if (await ValidateData() == false)
            return;

        SelectedTool.modifiedBy = CurrentUser;       
        if (!await Fassade.UpdateToolWithVersion(SelectedTool, OriginalTool))
            return;



        await SignalRService.SendMessageToServer($"ToolUpdated;{SelectedTool.toolID}");
        await DirtyManagerService.setClean();
    }


    public async Task CreateToolAsync()
    {
        ResetValidationState();

        if (await ValidateData() == false)
            return;

        SelectedTool.modifiedBy = CurrentUser;

        if (!await Fassade.AddTool(SelectedTool))
            return;
        var createdTool = await Fassade.GetToolByName(SelectedTool.toolShortname, SelectedTool.stationID.Value);
        if(createdTool != null)
        {
            await SignalRService.SendMessageToServer($"ToolCreated;{createdTool.toolID}");
        }
       
        await DirtyManagerService.setClean();
    }


    private async Task DeleteToolAsync()
    {
        if (SelectedTool == null) return;
        if (!await Fassade.DeleteTool(SelectedTool)) return;

        await SignalRService.SendMessageToServer($"ToolDeleted;{SelectedTool.toolID}");
        await DirtyManagerService.setClean();
    }

    #endregion

    #region Validate
    public async Task<bool> ValidateData()
    {
        // Objekt
        if (SelectedTool == null)
            return false;

        //ToolShortname
        if (string.IsNullOrWhiteSpace(SelectedTool.toolShortname))
        {
            errorMessages["ToolShortname"] = Fassade.Language.MissingToolShortname;

        }

        if (!SelectedTool.stationID.HasValue)
            return false;

        if (await Fassade.ToolExistsInStation(SelectedTool.toolShortname, SelectedTool.toolID.Value, SelectedTool.stationID.Value))
        {
            errorMessages["ToolShortname"] = Fassade.Language.ToolAlreadyExists;
        }



        //IP-Adresse
        if (string.IsNullOrWhiteSpace(SelectedTool.ipAddressDevice))
        {
            errorMessages["IP"] = Fassade.Language.MissingIpAddress;

        }

        var regex = new System.Text.RegularExpressions.Regex(@"^(([0-9]{1,2}|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]{1,2}|1[0-9]{2}|2[0-4][0-9]|25[0-5])$");

        if (!string.IsNullOrWhiteSpace(SelectedTool.ipAddressDevice) && !regex.IsMatch(SelectedTool.ipAddressDevice))
        {
            errorMessages["IP"] = Fassade.Language.InvalidIp;
        }

        showErrors = errorMessages.Any();
        return !showErrors;
    }

    private void ResetValidationState()
    {
        errorMessages.Clear();
        showErrors = false;
    }
    #endregion


    #region Dirty
    private async Task<bool> CheckIfDirty()
    {
        if (SelectedTool?.toolID == 0)
            return false;
        return await DirtyManagerService.CheckIfDirty(SelectedTool, OriginalTool, "Tool");
    }

    private bool isResettingTool = false;

    public async Task ResetTool()
    {
        if (isResettingTool) return;

        isResettingTool = true;
        try
        {
            var signalTool = await Fassade.GetTool(SelectedTool.toolID.Value);
            await SignalRService.SendMessageToServer($"ToolUpdated;{signalTool.toolID}");
            await DirtyManagerService.setClean();
        }
        finally
        {
            isResettingTool = false;
        }
    }

    #endregion

    #region Lock
    private System.Threading.CancellationTokenSource? lockCancellationTokenSource;

    public async Task LockTool()
    {
        if (SelectedTool.toolID == 0) return;
        if (SelectedTool.isLocked == true && SelectedTool.lockedBy == CurrentUser)
        {
            lockCancellationTokenSource?.Cancel();
            StartUnlockTimer();


        }
        if (SelectedTool.isLocked == false)
        {
            SelectedTool.isLocked = true;
            SelectedTool.lockedBy = CurrentUser;
            SelectedTool.lockTimestamp = DateTime.Now;
            await Fassade.UpdateTool(SelectedTool);

            
            await SignalRService.SendMessageToServer($"ToolLocked;{SelectedTool.toolID}");
            ReadOnly = false;
            StateHasChanged();

            StartUnlockTimer();
        }
    }

    private void StartUnlockTimer()
    {
        // Wenn bereits ein Timer läuft, abbrechen
        lockCancellationTokenSource?.Cancel();
        lockCancellationTokenSource = new System.Threading.CancellationTokenSource();

        _ = Task.Run(async () =>
        {
            try
            {
                // Warte 10 Minuten (600000 ms)
                await Task.Delay(TimeSpan.FromMinutes(3), lockCancellationTokenSource.Token);

                // Nach 10 Minuten entsperren
                await UnlockToolAsync();
            }
            catch (TaskCanceledException)
            {
                // Timer wurde abgebrochen (z.B. bei erneutem Lock)
            }
        });
    }

    private async Task UnlockToolAsync()
    {
        if (SelectedTool == null) return;

        SelectedTool.isLocked = false;
        SelectedTool.lockedBy = null;
        SelectedTool.lockTimestamp = null;
        await Fassade.UpdateTool(SelectedTool);

       
        await SignalRService.SendMessageToServer($"ToolUnlocked;{SelectedTool.toolID}");

        ReadOnly = true;
        StateHasChanged();
    }

    // Optional: Falls man das Lock manuell aufheben will
    public async Task ManualUnlockToolAsync()
    {
        // Timer stoppen
        lockCancellationTokenSource?.Cancel();
        await UnlockToolAsync();
    }
    #endregion

    #region ToolClass/-Type
    private async Task OnToolClassChanged(ChangeEventArgs e)
    {

        if (int.TryParse(e.Value?.ToString(), out var selectedId))
        {
            SelectedTool.toolClassID = selectedId;
            toolTypes = await Fassade.FindToolTypes(selectedId);
            SelectedTool.toolTypeID = toolTypes.FirstOrDefault()?.toolTypeID ?? 0;
			await SignalRService.SendMessageToServer($"ToolClassChanged;{SelectedTool.toolID}");
        }
    }

    private async Task OnToolTypeChanged(ChangeEventArgs e)
    {

        if (int.TryParse(e.Value?.ToString(), out var id))
        {
            SelectedTool.toolTypeID = id;
        }
    }

    #endregion


    #region Version
    private async Task OnVersionChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out int versionId))
        {
            selectedVersionId = versionId;
            if (versionId == -1)
            {
                
                if (SelectedTool?.toolID != null)
                {
                    var currentTool = await Fassade.GetTool(SelectedTool.toolID);
                    if (currentTool != null)
                    {
                        SelectedTool = currentTool;
                    }
                }
            }
            else
            {
                var selectedVersion = ToolVersions.FirstOrDefault(v => v.toolVersionID == versionId);
                if (selectedVersion != null)
                {
                    SelectedTool.toolShortname = selectedVersion.toolShortname;
                    SelectedTool.toolDescription = selectedVersion.toolDescription;
                    SelectedTool.toolClassID = selectedVersion.toolClassID;
                    SelectedTool.toolTypeID = selectedVersion.toolTypeID;
                    SelectedTool.ipAddressDevice = selectedVersion.ipAddressDevice;
                    SelectedTool.plcName = selectedVersion.plcName;
                    SelectedTool.dbNoSend = selectedVersion.dbNoSend;
                    SelectedTool.dbNoReceive = selectedVersion.dbNoReceive;
                    SelectedTool.addressSendDB = selectedVersion.addressSendDB;
                    SelectedTool.addressReceiveDB = selectedVersion.addressReceiveDB;
                    SelectedTool.preCheckByte = selectedVersion.preCheckByte;
                    SelectedTool.lastModified = selectedVersion.lastModified;
                    SelectedTool.modifiedBy = selectedVersion.modifiedBy;
                    SelectedTool.Comment = selectedVersion.Comment;
                    SelectedTool.Status = selectedVersion.Status;
                }
            }
            StateHasChanged();
        }
    }

    #endregion



    public void Dispose()
    {
        
        lockCancellationTokenSource?.Cancel();
        lockCancellationTokenSource?.Dispose();
    }

}
