@using DaimlerConfig.Components.Models
@inject DaimlerConfig.Components.Fassade.Fassade Fassade

@using DaimlerConfig.Services
@inject SignalRService SignalRService
@inject DirtyManagerService DirtyManagerService

<div>

    <div class="class-header  justify-content-between align-items-center">
        <h2>Tool</h2>

        <div class="d-flex justify-content-end align-items-center gap-2">
            @if (SelectedTool?.toolID == 0)
            {
                <div class="d-flex justify-content-end align-items-center mb-3">
                    <button class="btn btn-primary btn-sm"  @onclick="CreateToolAsync">Create</button>
                </div>
                @if (!string.IsNullOrEmpty(ValidationMessage))
                {
                    <div class="text-danger">@ValidationMessage</div>
                }
            }

            @if (SelectedTool?.toolID != 0)
            {
                <div class="d-flex justify-content-end align-items-center mb-3">
                    <button class="btn btn-primary btn-sm" @onclick="UpdateToolAsync">Update</button>
                </div>
                @if (!string.IsNullOrEmpty(ValidationMessage))
                {
                    <div class="text-danger">@ValidationMessage</div>
                }
            }
            @if (SelectedTool?.toolID != 0)
            {
                <div class="d-flex justify-content-end align-items-center mb-3">
                    <button class="btn btn-primary btn-sm" @onclick="DeleteToolAsync">Delete</button>
                </div>
                @if (!string.IsNullOrEmpty(ValidationMessage))
                {
                    <div class="text-danger">@ValidationMessage</div>
                }
            }
        </div>
    </div>


    <div class="layout position-relative">
        <div class="toolColoumnLeft">     

            <div class="form-floating mb-3">
                <input type="text" class="form-control form-control" placeholder=""   @onblur="CheckIfDirty" @bind="SelectedTool.toolID" readonly>
                <label>Tool ID</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control @(errorMessages.ContainsKey("ToolShortname") ? "is-invalid" : "")" maxlength="16" placeholder="" readonly="@ReadOnly" @onclick="LockTool" @onblur="CheckIfDirty" @bind="SelectedTool.toolShortname">
                <label>Tool Shortname</label> 
                <span class="position-absolute end-0 bottom-0 me-2 mb-1 text-muted small">
                    @($"{SelectedTool?.toolShortname?.Length ?? 0}/16")
                </span>
                @if (errorMessages.ContainsKey("ToolShortname"))
                {
                                <div class="invalid-feedback">@errorMessages["ToolShortname"]</div>

                }
            </div>

            <div class="form-floating mb-3">
                <textarea type="text" class="form-control form-control" placeholder="" style="height: 100px" readonly="@ReadOnly" @onclick="LockTool" @onblur="CheckIfDirty" @bind="SelectedTool.toolDescription"></textarea>
                <label>Tool Description</label>
                <span class="position-absolute end-0 bottom-0 me-2 mb-1 text-muted small">
                    @($"{SelectedTool?.toolDescription?.Length ?? 0}/100")
                </span>
            </div>
        </div>

        <div class="toolColoumnRight ">
            <div class="form-floating mb-3">
                <select class="form-select form-select" id="ToolClass">
                    <option value="">select...</option>
                    <option value="Class1">needs</option>
                    <option value="Class2">binding</option>
                </select>
                <label for="ToolClass">Tool Class</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select form-select" id="ToolType">
                    <option value="">select...</option>
                    <option value="Class1">needs</option>
                    <option value="Class2">binding</option>
                </select>
                <label for="ToolType">Tool Type</label>
            </div>
        </div>
    </div>

    <hr />

    <div>
        <h2>Network</h2>

        <div class="layout position-relative">
            <div class="toolColoumnLeft">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control @(errorMessages.ContainsKey("IP") ? "is-invalid" : "")" placeholder="" @onblur="CheckIfDirty" @onclick="LockTool" @bind="SelectedTool.ipAddressDevice">
                    <label>IP-Address Device</label>
                    @if (errorMessages.ContainsKey("IP"))
                    {
                        <div class="invalid-feedback">@errorMessages["IP"]</div>
                    }
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control form-control" placeholder="">
                    <label>PLC Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control form-control" placeholder="">
                    <label>DBNo Send</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control form-control" placeholder="">
                    <label>DBNo Receive</label>
                </div>
            </div>

            <div class="toolColoumnRight">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control form-control" placeholder="">
                    <label>Address in Send-DB</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control form-control" placeholder="">
                    <label>Address in Receive-DB</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control form-control" placeholder="">
                    <label>Byte Pre Check</label>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public Tool? SelectedTool { get; set; }

    [Parameter]
    public string? CurrentUser { get; set; }

    [Parameter]
    public EventCallback OnUpdated { get; set; }

    [Parameter]
    public bool ReadOnly { get; set; } 

    private string? ValidationMessage;

    private Tool? OriginalTool { get; set; }

    private Dictionary<string, string> errorMessages = new();
    private bool showErrors = false;

    protected override async Task OnParametersSetAsync()
    {

        if (SelectedTool != null)
        {
            ResetValidationState();
            OriginalTool = SelectedTool.Clone();
            OriginalTool.toolID = SelectedTool.toolID;
            OriginalTool.stationID = SelectedTool.stationID;
        }
    }


    #region CRUD
    public async Task UpdateToolAsync()
    {
        ResetValidationState();

        if (await ValidateData() == false)
            return;

        await Fassade.UpdateTool(SelectedTool);
        await OnUpdated.InvokeAsync();
        await SignalRService.SendMessageToServer("ToolChanged");
        await DirtyManagerService.setClean();
    }

    private async Task CreateToolAsync()
    {
        ResetValidationState();

        if (await ValidateData() == false)
            return;


        await Fassade.AddTool(SelectedTool);
        await OnUpdated.InvokeAsync();
        await SignalRService.SendMessageToServer("ToolChanged");
    }

    private async Task DeleteToolAsync()
    {
        if(SelectedTool != null)
        {
            await Fassade.DeleteTool(SelectedTool);
            await OnUpdated.InvokeAsync();
            await SignalRService.SendMessageToServer("ToolChanged");
        }
    }
    #endregion

    #region Validate
    public async Task<bool> ValidateData()
    {
        // Objekt
        if (SelectedTool == null)
            return false;

        //ToolShortname
        if (string.IsNullOrWhiteSpace(SelectedTool.toolShortname))
        {
            errorMessages["ToolShortname"] = "ToolShortname is missing";

        }

        if (!SelectedTool.stationID.HasValue)
            return false;

        if ((await Fassade.ToolExistsInStation(SelectedTool.toolShortname, SelectedTool.toolID.Value, SelectedTool.stationID.Value)) && ((SelectedTool.toolShortname != OriginalTool.toolShortname) && (SelectedTool.toolID.Value != OriginalTool.toolID.Value) && (SelectedTool.stationID.Value != OriginalTool.stationID.Value)))
        {
            errorMessages["ToolShortname"] = "A tool with this shortname already exists in this station";
        }



        //IP-Adresse
        if (string.IsNullOrWhiteSpace(SelectedTool.ipAddressDevice))
        {
            errorMessages["IP"] = "IP Address is missing";

        }

        var regex = new System.Text.RegularExpressions.Regex(@"^(([0-9]{1,2}|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]{1,2}|1[0-9]{2}|2[0-4][0-9]|25[0-5])$");

        if (!string.IsNullOrWhiteSpace(SelectedTool.ipAddressDevice) && !regex.IsMatch(SelectedTool.ipAddressDevice))
        {
			errorMessages["IP"] = "IP Address is not valid. Please use the format xxx.xxx.xxx.xxx";
        }

        showErrors = errorMessages.Any();
        return !showErrors;
    }

    private void ResetValidationState()
    {
        errorMessages.Clear();
        showErrors = false;
    }
    #endregion


    #region Dirty
    private async Task<bool> CheckIfDirty()
    {
        if (SelectedTool?.toolID == 0)
            return false;
        return await DirtyManagerService.CheckIfDirty(SelectedTool, OriginalTool);
    }

    public async Task ResetTool()
    {
        if (OriginalTool != null)
        {
            SelectedTool = OriginalTool.Clone();
            SelectedTool.toolID = OriginalTool.toolID;
            SelectedTool.stationID = OriginalTool.stationID;
        }
        await SignalRService.SendMessageToServer("ToolChanged");
    }
    #endregion

    public async Task LockTool()
    {

        if (SelectedTool.toolID == 0) return;
        if(SelectedTool.isLocked == false)
        {
            SelectedTool.isLocked = true;
            SelectedTool.lockedBy = CurrentUser;
            await Fassade.UpdateTool(SelectedTool);
            await OnUpdated.InvokeAsync();
            await SignalRService.SendMessageToServer("ToolChanged");
            await SignalRService.SendMessageToServer("ToolLocked;" + SelectedTool.toolID.ToString());
            ReadOnly = false;
            StateHasChanged();

        }
    }


}
